<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>ABC Tweets — code by Joshua Byrd</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A cool thing made with Glitch" />
    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />
    <meta
      property="og:image"
      content="https://cdn.glitch.com/444c8313-2f33-4c86-a386-6653e0ca456f%2FABC_Tweets2.jpg?v=1587702574358"
    />
    <meta property="og:title" content="ABC Tweets — code by Joshua Byrd" />
    <meta
      property="og:description"
      content="An early web experiement that displays most popular tweets with links to abc.net.au"
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="ABC Tweets — code by Joshua Byrd">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's client-side javascript file -->
    <script src="/script.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Popular tweets with ABC links</h1>
    </header>

    <main>
      <div class="tweet-list grid"></div>
    </main>

    <footer>Made with <a href="https://glitch.com">Glitch</a>!</footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:2em;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
  </body>
</html>
